In [33]:
# import dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time

In [34]:
# if_name_ =="_main_":

In [35]:
executable_path ={"executable_path":"chromedriver.exe"}
browser= Browser("chrome", **executable_path)

In [36]:
nasa_url = 'https://mars.nasa.gov/news/'
browser.visit(nasa_url)

In [37]:
#URL to be scraped
url='https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
response = requests.get(url)

In [38]:
nasa_html = browser.html
nasa_soup = bs(response.text, "html.parser")
type(nasa_soup)

bs4.BeautifulSoup

In [39]:
#extract title 
news_title = nasa_soup.find_all('div', class_='content_title')[0].find('a').text.strip()
print(news_title)

NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities

In [40]:
#extract paragraph
news_pgraph = nasa_soup.find_all('div', class_='rollover_description_inner')[0].text.strip()
print(news_pgraph)

Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.

In [41]:
# Jpl mars images
# chromedriver

executable_path ={"executable_path":"chromedriver.exe"}
browser= Browser("chrome", **executable_path)

In [42]:
# Use splinter find url for current Featured Mars Image

mars_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(mars_url)

In [43]:
mars_html = browser.html
mars_soup = bs(mars_html, "html.parser")

In [44]:
#featured mars image
featured_image_url = 'https://photojournal.jpl.nasa.gov/jpeg/PIA18284.jpg'
print(featured_image_url)

https://photojournal.jpl.nasa.gov/jpeg/PIA18284.jpg

In [45]:
### Mars Facts
facts_url = 'https://space-facts.com/mars/'

In [ ]:
#install lxlm

In [46]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\brice\anaconda3\envs\pythondata\lib\site-packages (4.6.1)

In [47]:
#use Pandas scrape the table containing facts about mars include Diameter, Mass, etc
mars_table = pd.read_html(facts_url)
mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [48]:
#create table
df = mars_table[0]
df.columns = ['description', 'value']
df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [49]:
#description column set index
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [50]:
#Use Pandas to convert the data to a HTML table
df.to_html('mars_table.html')

In [51]:
#path
executable_path ={"executable_path":"chromedriver.exe"}
browser= Browser("chrome", **executable_path)

In [52]:
### Mars Hemispheres
#from astrogeology obtain high resolution images for each of Mar's hemispheres.

usg_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(usg_url)

In [53]:
usg_html = browser.html
usg_soup = bs(usg_html, "html.parser")

In [54]:
#list 
hemisphere_image_urls = []

In [55]:
#make dictonary
hemi_dict = {}

In [59]:
results = usg_soup.find_all('h3')

In [76]:
#use for loops for results and get info from results

for result in results:
    hemiinfo = result.text
    time.sleep(1)

In [77]:
 hemihtml = browser.html

In [79]:
#beautifulsoup
hemisoup =bs(hemihtml,"html.parser" )
time.sleep(1)

In [80]:
 #get image link
hemilink = hemisoup.find_all('div', class_="downloads")

In [81]:
 #titles for dict
time.sleep(1)
hemi_dict["title"]=hemiinfo
hemi_dict["img_url"]=hemilink
hemisphere_image_urls =[].append(dict)

In [82]:
print(hemisphere_image_urls)

None